# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.coverage.
coverage.xml

# Type checkers / linters
.mypy_cache/
.pyre/
.ruff_cache/

# Logs and temp
*.log
*.tmp

# IDE/editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db